[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
minsearch = "*"
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pgcli = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"

[requires]
python_version = "3.12"
