[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
python-dotenv = "*"
pgcli = "*"
requests = "*"
questionary = "*"
streamlit = "*"
uuid = "*"
pipenv = "*"
flask = "*"
minsearch = "*"
openai = "*"
pandas = "*"

[dev-packages]
tqdm = "*"
notebook = "==7.1.2"
ipywidgets = "*"


[requires]
python_version = "3.12"
